/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme-dark {
  --main-font: "IBM Plex mono";
  --backgrond-title-decor: #ff0070;
  --text-title-color: #000028;
  --description-color: #f1b2ce;
  --heading-color: #ff0070;
  --main-color: #db00ff;
  --shadow-main-color: #ff0070;
  --shadow-link-color: #ff0070;
  --accent-color: #ff0070;
  --hover-button-color-alpha: #ff007066;
  --background-color: #000028;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: "IBM Plex mono";
  --backgrond-title-decor: #ff0070;
  --text-title-color: #000028;
  --description-color: #f1b2ce;
  --heading-color: #ff0070;
  --main-color: #db00ff;
  --shadow-main-color: #ff0070;
  --shadow-link-color: #ff0070;
  --accent-color: #ff0070;
  --hover-button-color-alpha: #ff007066;
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font, "IBM Plex Mono", sans-serif);
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
