/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-image: var(--background-img);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: var(--main-font, "IBM Plex Mono", sans-serif);

  background-color: var(--background-color);
  padding: 0 20px;
}

/*Header*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-block-end: 60px;
}

/*Header - Декоротивная зона (углы)*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;

  width: 25px;
  height: 25px;

  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;

  width: 25px;
  height: 25px;

  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

/*Header - (REC и точка)*/

.decor-item {
  position: absolute;
  top: 20px;
  right: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.decor-item::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 44px;

  width: 10px;
  height: 10px;

  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}

/*Header - Навигация*/

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  padding-block-start: 20px;
}

.header__theme-menu-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;

  min-width: 70px;
  min-height: 26px;

  color: var(--accent-color);
  border: 1px solid transparent;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color-alpha);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

/*Header - заголовок и описание*/

.header__heading {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-color);
  text-shadow: 4px 4px 0px var(--shadow-main-color);

  margin-block-start: 160px;
  margin-inline-start: -20px;
}

.header__description {
  width: 491px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  margin-block-end: 135px;

  align-self: flex-end;
}

/*Main*/

.content {
  display: flex;
  flex-direction: column;
  gap: 85px;
}

/*Sections*/

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-decor {
  color: var(--heading-color);
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.title-decor {
  color: var(--text-title-color);
  background-color: var(--background-title-decor);
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--description-color);
}

/* Ссылки */

.description-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-shadow: 2px 2px 0px var(--shadow-link-color);
}

/* Состояния ссылок */

.description-link:hover {
  --underline-color: var(--description-color);

  border-bottom: 1px solid var(--underline-color);
  box-shadow: none;
}

.description-link:focus {
  outline: none;
}

.description-link:focus-visible {
  --focus-color: var(--description-color);

  border: 1px solid var(--focus-color);
  outline: none;
}

/*Section - why-difficult-concentrate*/

.section__why-difficult-concentrate {
  display: grid;
  grid-template-columns: minmax(236px, 315px) minmax(auto, 649px);
  grid-template-rows: minmax(auto, 1fr);
  gap: 20px 20px;
}

.section__why-difficult-concentrate .section__container {
  grid-column: 2 / 3;
}

/*Section - what-reduces-concentration*/

.section__what-reduces-concentration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
}

.grid-position-left {
  grid-column: 1 / 2;
}

.grid-position-center {
  grid-column: 2 / 3;
}

.grid-position-right {
  grid-column: 3 / 4;
}

/*Section - how-concentrate-better*/

.section__how-concentrate-better {
  display: grid;
  grid-template-columns: minmax(auto, 303px) 1fr;
  grid-template-rows: 24px;
  grid-gap: 22px 32px;
}

.section__how-concentrate-better .section__container {
  grid-column: 2 / 3;
}

/*Section - gallery*/

.section__gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.block-big-width {
  grid-column: 1 / 3;
}

.block-big-width:nth-of-type(5) {
  grid-column: 2 / 4;
}

.block-big-height {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.block-big-height:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Footer */

.footer {
  margin-block-start: 45px;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__heading {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-color);
  text-shadow: 4px 4px 0px var(--shadow-main-color);
}

@media (max-width: 768px) {
  .content {
    gap: 88px;
  }

  .header__theme-menu-list {
    padding-block-start: 190px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .header__heading {
    margin-block-end: 144px;
  }

  .header__description {
    margin-block-end: 184px;
    width: 362px;
  }

  .section__why-difficult-concentrate {
    grid-template-columns: minmax(100px, 206px) minmax(min-content, 1fr);
  }

  .section__what-reduces-concentration .section__container {
    grid-column: 1 / 4;
  }

  .section__how-concentrate-better {
    grid-template-columns: 236px;
    column-gap: 20px;
  }
}

@media (max-width: 666px) {
  .section__how-concentrate-better {
    grid-template-columns: minmax(auto, max-content);
  }

  .section__how-concentrate-better .section__container {
    grid-column: 1 / 2;
  }
}

@media (max-width: 555px) {
  .section__why-difficult-concentrate {
    grid-template-columns: minmax(auto, max-content);
  }

  .section__why-difficult-concentrate .section__container {
    grid-column: 1 / 2;
  }
}

@media (max-width: 375px) {
  .page {
    padding: 0 10px;
  }

  .header {
    margin-block-end: 40px;
  }

  .decorated-zone::before {
    top: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
  }

  .decor-item {
    top: 10px;
  }

  .header__theme-menu-list {
    padding-block-start: 73px;
  }

  .header__heading {
    margin-inline-start: 0;
    margin-block-start: 14px;
    margin-block-end: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description {
    margin-block-end: 68px;
    width: 355px;
  }

  .content {
    gap: 50px;
  }

  .section__why-difficult-concentrate {
    grid-template-rows: minmax(min-content, 1fr);
    grid-auto-rows: minmax(100px, 431px);
  }

  .section__what-reduces-concentration {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .section__how-concentrate-better {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .section__gallery {
    gap: 11px;
  }

  .gallery__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .footer {
    margin-block-start: 37px;
  }

  .footer__heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
