/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-shadow: 2px 2px 0px var(--shadow-link-color);
}

a:hover {
  --underline-color: var(--description-color);

  text-decoration: underline;
  color: var(--underline-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  --focus-color: var(--description-color);

  border: 1px solid var(--focus-color);
  outline: none;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);

  font-family: var(--main-font, "IBM Plex Mono", sans-serif);
}

/*Header - Декоротивная зона (углы)*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;

  width: 25px;
  height: 25px;

  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;

  width: 25px;
  height: 25px;

  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

/*Header*/

.header {
  display: flex;
  flex-direction: column;
  height: 48rem;
}

/*Header - (REC и точка)*/

.header span {
  position: absolute;
  top: 20px;
  right: 50px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.header span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 44px;

  width: 10px;
  height: 10px;

  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}

/*Header - Навигация*/

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-block-start: 1rem;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;

  padding: 0px 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--accent-color);
  border: 1px solid transparent;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color-alpha);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

/*Header - заголовок и описание*/

.header__heading {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-color);
  text-shadow: 4px 4px 0px var(--shadow-main-color);

  margin-block-start: 273px;
}

.header__description {
  width: 491px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  margin-block-start: 7.5rem;
  margin-inline-end: 1.3rem;

  align-self: flex-end;
}

/*Main*/

.content {
  display: flex;
  flex-direction: column;
}

.content-section {
  padding: 0 20px;
}

/*Section*/

.section__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-decor {
  color: var(--heading-color);
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.title-decor {
  color: var(--text-title-color);
  background-color: var(--backgrond-title-decor);
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--description-color);
}

/*Section - why-difficult-concentrate*/

.section__why-difficult-concentrate {
  margin-block-start: 60px;

  display: grid;
  grid-template-columns: fit-content(315px) auto;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 20px;
}

.section__why-difficult-concentrate div:last-child {
  grid-column: 2;
}

/*Section - what-reduces-concentration*/

.section__what-reduces-concentration {
  margin-block-start: 85px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: max-content minmax(384px, 431px);
  grid-gap: 20px 20px;
}

.section__what-reduces-concentration h2 {
  grid-column: 1;
}

.section__what-reduces-concentration .block-1024px {
  grid-column: 1 / 2;
}

/*Section - how-concentrate-better*/

.section__how-concentrate-better {
  margin-block-start: 80px;
  display: grid;
  grid-gap: 22px 20px;
  grid-template-columns: 315px minmax(315px, 1fr);
  grid-template-rows: 23px;
}

.section__how-concentrate-better .block-2 {
  grid-column: 2;
}

/*Section - gallery*/

.section__gallery {
  margin-block-start: 80px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.block-big-width-1 {
  grid-column: 1 / 3;
}

.block-big-width-2 {
  grid-column: 2 / 4;
}

.block-big-height-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.block-big-height-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery__list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.footer {
  margin-block-start: 52px;

  height: 48rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__heading {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-color);
  text-shadow: 4px 4px 0px var(--shadow-main-color);
}

/*Footer - Декоротивная зона (углы)*/

.decorated-footer-zone {
  position: relative;
}

.decorated-footer-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;

  width: 25px;
  height: 25px;

  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-footer-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;

  width: 25px;
  height: 25px;

  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

@media (max-width: 768px) {
  /*Header*/

  .header {
    height: 64rem;
  }

  /*Header - Навигация*/

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    padding-block-start: 11rem;
    padding-inline-end: 20px;
  }

  /*Header - Заголовок и описание*/

  .header__heading {
    margin-block-start: 11rem;
  }

  .header__description {
    width: 47%;
    margin-block-start: 10.1rem;
  }

  /*Section - why-difficult-concentrate*/

  .section__why-difficult-concentrate {
    grid-template-columns: min(236px) auto;
    grid-template-rows: repeat(2, 1fr);
  }

  /*Section - what-reduces-concentration*/

  .section__what-reduces-concentration {
    margin-block-start: 85px;

    grid-template-columns: min-content;
    grid-template-rows: max-content 11rem 11rem;
  }

  .section__what-reduces-concentration .block-768px {
    grid-column: 1 / 3;
  }

  /*Section - how-concentrate-better*/

  .section__how-concentrate-better {
    grid-template-columns: 236px minmax(315px, 1fr);
  }

  /*Section - gallery*/

  .section__gallery {
    margin-block-start: 89px;
  }

  /*Footer*/

  .footer {
    height: 64rem;
  }
}

@media (max-width: 375px) {
  .page {
    padding: 10px;
  }

  /*Header*/

  .header {
    height: 40.5rem;
  }

  /*Header - Декоротивная зона (углы)*/

  .decorated-zone::before {
    top: 0;
    right: 0;
  }

  .decorated-zone::after {
    bottom: 0;
    left: 0;
  }

  /*Header - (REC и точка)*/

  .header span {
    top: 0px;
    right: 30px;
  }

  /*Header - Навигация*/

  .header__theme-menu-list {
    padding-block-start: 3rem;
    padding-inline-end: 0;
  }

  /*Header - заголовок и описание*/

  .header__heading {
    margin-block-start: 4rem;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description {
    width: 100%;

    margin-block-start: 3.8rem;
    margin-inline-end: 0rem;
  }

  /*Main*/

  .content {
    padding: 0;
  }

  /*Section - why-difficult-concentrate*/

  .section__why-difficult-concentrate {
    margin-block-start: 3.1rem;

    display: flex;
    flex-direction: column;
  }

  /*Section - what-reduces-concentration*/

  .section__what-reduces-concentration {
    margin-block-start: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 23.9px;
  }

  /*Section - how-concentrate-better*/

  .section__how-concentrate-better {
    margin-block-start: 3.4rem;

    display: flex;
    flex-direction: column;
    gap: 23.8px;
  }

  /*Section - gallery*/

  .section__gallery {
    margin-block-start: 3.3rem;
    gap: 1px;
  }

  .gallery__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /*Footer*/

  .footer {
    margin-block-start: 2rem;
    height: 40.5rem;
  }

  /*Footer - Декоротивная зона (углы)*/

  .decorated-footer-zone::before {
    top: 0;
    right: 0;
  }

  .decorated-footer-zone::after {
    bottom: 0;
    left: 0;
  }

  /*Footer - заголовок*/

  .footer__heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
