/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";

  --background-title-decor: #ff0070;
  --text-title-color: #000028;

  --description-color: #f1b2ce;
  --heading-color: #ff0070;

  --main-color: #db00ff;
  --accent-color: #ff0070;

  --shadow-main-color: #ff0070;
  --shadow-link-color: #ff0070;

  --hover-button-color-alpha: #ff007066;

  --background-color: #000028;
}
